@import url("https://cdn.syncfusion.com/ej2/material.css");

.order {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 80vh;
}

.order h1 {
    padding-bottom: 0.5em;
    margin: 0;
    padding-top: 1.5em;
    text-shadow: 0 0.1em 0.1em black;
}

.order .card {
    margin: auto;
}

.order .item-card {
    margin: 1em;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
}

.order .address-street,
.order .address-city,
.order .address-city .address-city__zip,
.order .address-city .address-city__zip .address-city__zip-input
{
    display: flex;
}

.order .address-street,
.order .address-city {
    justify-content: space-around;
}

.order .address-street div:nth-child(1),
.order .address-city .address-city__city
{
    width: 50%;
}

.order .address-street div input,
.order .address-city div input
{
    width: 90%;
}

.timepicker .e-input-group, .e-input-group.e-control-wrapper {
    margin-bottom: 0;
}

.timepicker {
    width: 20%;
    margin: 1em auto;
    background-color: #f8f8f8;
    padding: 0 0.2em;
}

@media (max-width: 750px) {
    .order button {
        margin: 0.2em;
    }
}