.store {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    flex-grow: 1;
}

.store-info {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 1em;
    padding-bottom: 8em;
}

.store-info p {
    font-family: 'Poiret One', cursive;
    color: white;
}

.store-info b {
    font-family: 'Roboto', sans-serif;
}

.store h1 {
    padding-top: 1.3em;
    margin: 0;
    text-shadow: 0 0.1em 0.1em black;
}

.store input:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }

.store .store-items {
    display: flex;
    padding: 2em;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 20vh;
}

.store a {
    margin: 3em;
    text-align: center;
    color: #b39809;
    text-decoration: none;
}

.store .item-card {
    margin: 2em 1em;
    height: 50vh;
    transition: 1s;
    text-align: center;
    width: 25vw;
}

.store .item-card:hover {
    transform: scale(1.1);
}

.store .item-card__image {
    height: 50%;
}

.store .item-card img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 0.2em;
}

.store .item-card__info {
    align-items: center;
    height: 30%;
}

.store .item-card__info button {
    margin: 0;
}

.store .item-card__info .name {
    width: 100%;
    padding: 0.2em;
    font-size: 1.1em;
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    color: white;
}

.store .item-card__info .description {
    color: wheat;
}

.store .categories {
    margin: auto;
}

.store .categories ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
}

.store .categories ul li {
    margin: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
}

@media (max-width: 1100px) {
    .store .item-card {
        width: 40vw;
    }
}

@media (max-width: 850px) {
    .store .item-card {
        width: 50vw;
    }
}

@media (max-width: 700px) {
    .store .item-card {
        width: initial;
        margin: 1.2em 1em;
    }
}

@media (max-width: 500px) {

    .store-info {
        padding-bottom: 7em;
    }

    .store h1 {
        padding-top: 2em;
        font-size: 2em;
    }

    .store .store-items {
        display: block;
    }

    .store .item-card {
        height: 30vh;
        margin-bottom: 3em;
    }

    .store .item-card__image {
        height: 40%;
    }

    .store .item-card__info .name,
    .store .item-card__info .description {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .store .item-card {
        height: 40vh;
    }
}

