.admin {
    display: flex;
    min-height: 100vh;
    background-color: rgb(133, 131, 131);
}

.admin-navigation {
    padding-top: 3em;
    padding-right: 3em;
    font-size: 2em;
    border-right: 2px solid black;
    background: url("https://i.pinimg.com/originals/c7/d6/44/c7d6443c3e206f73ff8c105b5e7d1abb.jpg");
}

.admin-navigation li {
    margin: 1em 0;
    cursor: pointer;
}

.admin-navigation li:hover {
    color: black;
}

.admin-content {
    padding-top: 5em;
    padding-left: 2em;
    text-align: center;
}

.admin button {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.admin select {
    display: block;
    padding: 1em;
    margin: auto;
}

.start, .end {
    margin: 1em 0;
    color: black;
}

.start .form-control,
.end .form-control,
.start .form-control label,
.end .form-control label {
    display: inline;
}

.start .form-control input,
.end .form-control input {
    width: 10%;
    display: inline;
}