.card {
  position: relative;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: #000000bd;
    width: 80%;
    margin: auto;
    border: 1px solid;
}

@media (max-width: 750px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .card {
    padding: 0;
  }
}

